<!DOCTYPE html>
<html lang="en">

<head>
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cape Town: SnapDeals</title>


    <%= stylesheet_link_tag "bootstrap.min.css" %>
    <%= stylesheet_link_tag "shop-homepage.css" %>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./index.html">SnapScan Deals</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          Choose Location<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="./cape-town.html">Cape Town</a></li>
                            <li><a href="./johannesburg.html">Johannesburg</a></li>
                            <li><a href="./centurion.html">Centurion</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="mailto:bizdev@snapscan.co.za?Subject=SnapScan%20Deals" target="_blank">Contact</a>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

            <div class="row">
            <div class="col-md-12">

                <div class="row">
                <h2 align="center">Cape Town</h2>
                <br>
                </div>
            </div>
            </div>


                <div class="row">

                    <!-- PRODUCT ONE -->
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="./img/products/cape-town/deal-1.png" alt="">
                            <div class="caption">
                                <h4>One Hour Massage Treatment</h4>
                                <h5><a href="https://www.facebook.com/hommemenspa">Homme Mens Spa - Cape Town CBD</a></h5>
                                <p>An hour long massage at Homme, the professional skincare and grooming lounge for men</p>

                                <!-- TERMS AND CONDITIONS -->
                                <i><b>Terms and Conditions:</b>
                                <ul>
                                    <li>Only 40 vouchers available</li>
                                    <li>Only for men</li>
                                    <li>One deal per client</li>
                                    <li>Vouchers expire 1 June 2016</li>
                                </ul>
                                </i>
                            </div>

                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr align="center">
                                            <td><b><h3>R300</h3></b>YOU PAY</td>
                                            <td><h3>R480</h3>RETAIL</td>
                                            <td><h3>R180 (45%)</h3>YOU SAVE</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="ratings">
                                <p class="visible-xs" align="center">
                                    <a href="https://pos.snapscan.io/qr/SSDeals?&amount=30000&id=Homme_Massage" target="_blank" class="btn btn-primary">Buy with SnapScan</b></a>
                                </p>
                            </div>
                            <div>
                                <img class="hidden-xs" src="./img/products/cape-town/qr-1.png" alt="">
                            </div>
                        </div>
                    </div>

                    <!-- PRODUCT 2 -->
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="./img/products/cape-town/deal-2.png" alt="">
                            <div class="caption">
                                <h4>Haircut</h4>
                                <h5><a href="http://www.mensroom.co.za/">Mensroom - Diep River/Muizenberg</a></h5>
                                <p>Men go in. Legends com out! Mensroom is always striving to give clients the best service.</p>

                                <!-- TERMS AND CONDITIONS -->
                                <i><b>Terms and Conditions:</b>
                                <ul>
                                    <li>Only 300 vouchers available</li>
                                    <li>Only for men</li>
                                    <li>One deal per client</li>
                                    <li>Vouchers expire 1 March 2016</li>
                                </ul>
                                </i>
                            </div>

                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr align="center">
                                            <td><b><h3>R180</h3></b>YOU PAY</td>
                                            <td><h3>R240</h3>RETAIL</td>
                                            <td><h3>R60 (25%)</h3>YOU SAVE</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="ratings">
                                <p class="visible-xs" align="center">
                                    <a href="https://pos.snapscan.io/qr/SSDeals?&amount=18000&id=Mensroom_Haircut" target="_blank" class="btn btn-primary">Buy with SnapScan</b></a>
                                </p>
                            </div>
                            <div>
                                <img class="hidden-xs" src="./img/products/cape-town/qr-2.png" alt="">
                            </div>
                        </div>
                    </div>

                    

                    <!-- PRODUCT THREE -->
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="./img/products/cape-town/deal-3.png" alt="">
                            <div class="caption">
                                
                                <h4>Full Body Brilliant Tan</h4>
                                <h5><a href="https://www.facebook.com/Phat-Sam-Studio-178266982263891/">Phat Sam - Goodwood</a></h5>
                                <p>Full Body Brilliant Tan SprayTan, including a Metallic Tattoo Sheet</p>

                                <!-- TERMS AND CONDITIONS -->
                                <i><b>Terms and Conditions:</b>
                                <ul>
                                    <li>Only 20 vouchers available</li>
                                    <li>Appointments Monday - Friday, 09:00 - 18:00</li>
                                    <li>First time clients - One Deal per client</li>
                                    <li>Ladies only (or the perfect gift for a lady friend)</li>
                                </ul>
                                </i>
                            </div>
                            
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr align="center">
                                            <td><b><h3>R250</h3></b>YOU PAY</td>
                                            <td><h3>R350</h3>RETAIL</td>
                                            <td><h3>R100 (29%)</h3>YOU SAVE</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="ratings">
                                <p class="visible-xs" align="center">
                                    <a href="https://pos.snapscan.io/qr/SSDeals?&amount=25000&id=Phat_Sam_Spray_Tan" target="_blank" class="btn btn-primary">Buy with SnapScan</b></a>
                                </p>
                            </div>
                            <div>
                                <img class="hidden-xs" src="./img/products/cape-town/qr-3.png" alt="">
                            </div>
                        </div>
                    </div>


                    <!-- PRODUCT FIVE -->
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="./img/products/cape-town/deal-5.png" alt="">
                            <div class="caption">
                                
                                <h4>Local Craft Beer Mixed Offer</h4>
                                <h5><a href="http://www.cybercellar.com/">Cybercellar.com</a></h5>
                                <p>A 24 bottle tasting journey of some of SA's hottest craft beers around town. Consisting of a well rounded mix of Jack Black ales and Cape Brewing Company's excellently crafted beers.</p>

                                <!-- TERMS AND CONDITIONS -->
                                <i><b>4 bottles of each:</b>
                                <ul>
                                    <li>CBC Pilsner NV</li>
                                    <li>CBC Krystal Weiss NV</li>
                                    <li>CBC Lager NV</li>
                                    <li>CBC Amber Weiss NV</li>
                                    <li>Jack Black Beer Lumberjack NV</li>
                                    <li>Jack Black Beer Butcher Block NV</li>
                                </ul>
                                </i>
                            </div>
                            
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr align="center">
                                            <td><b><h3>R495</h3></b>YOU PAY</td>
                                            <td><h3>R650</h3>RETAIL</td>
                                            <td><h3>R155 (24%)</h3>YOU SAVE</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="ratings">
                                <p class="visible-xs" align="center">
                                    <a href="https://pos.snapscan.io/qr/8tzKIicG?&amount=49500&id=Cybercellar_Local_Craft_Beer" target="_blank" class="btn btn-primary">Buy with SnapScan</b></a>
                                </p>
                            </div>
                            <div>
                                <img class="hidden-xs" src="./img/products/cape-town/qr-5.png" alt="">
                            </div>
                        </div>
                    </div>

                    <!-- PRODUCT FOUR-->
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="./img/products/cape-town/deal-4.png" alt="">
                            <div class="caption">
                                
                                <h4>Individual Application Eyelash Extensions</h4>
                                <h5><a href="https://www.facebook.com/Phat-Sam-Studio-178266982263891/">Phat Sam - Goodwood</a></h5>
                                <p>Full Set Individual Application Eyelash Extensions, including a Brow Tint & Tidy & an EyeSlices Treatment</p>

                                <!-- TERMS AND CONDITIONS -->
                                <i><b>Terms and Conditions:</b>
                                <ul>
                                    <li>Only 20 vouchers available</li>
                                    <li>Appointments Monday - Friday, 09:00 - 18:00</li>
                                    <li>First time clients - One Deal per client</li>
                                    <li>Ladies only (or the perfect gift for a lady friend)</li>
                                </ul>
                                </i>

                                <!-- MODAL TERMS AND CONDITIONS -->
                                <!-- <p type="button" data-toggle="modal" data-target=".bs-example-modal-sm"><a><i>Terms and Conditions</i></a></p>

                                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                                  <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                    <h4 class="modal-title" id="myModalLabel">Terms and Conditions</h4>
                                          <div class="modal-body">
                                            <ul>
                                                <li>Appointments Monday - Friday, 09:00 - 18:00</li>
                                                <li>First time clients @ Phat Sam Studio</li>
                                                <li>One Deal per client.</li>
                                            </ul>
                                          </div>
                                    </div>
                                  </div>
                                </div> -->
                            </div>

                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr align="center">
                                            <td><b><h3>R400</h3></b>YOU PAY</td>
                                            <td><h3>R550</h3>RETAIL</td>
                                            <td><h3>R150 (27%)</h3>YOU SAVE</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="ratings">
                                <p class="visible-xs" align="center">
                                    <a href="https://pos.snapscan.io/qr/SSDeals?&amount=40000&id=Phat_Sam_Eyelash_Extension" target="_blank" class="btn btn-primary">Buy with SnapScan</b></a>
                                </p>
                            </div>
                            <div>
                                <img class="hidden-xs" src="./img/products/cape-town/qr-4.png" alt="">
                            </div> 
                            </div>
                        </div>
                    </div>



                </div>

            

        </div>

    </div>


<!-- FOOTER -->
        
        <div class="container">
        <footer>
            <div class="row">
                <div class="col-lg-6">
                    <p>Copyright &copy; SnapScan 2015</p>
                </div>
            </div>
        </footer>
        </div>


<!-- 
<div id="footer"></div> -->




    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
