<div class="row">
  <div class="col-md-12">
      <div class="row">
        <h2 align="center"><%= @location_name %></h2>
        <br>
    </div>
  </div>
<div class="row">
  <div class="col-sm-2 col-lg-2 col-md-2">
  </div>
  <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
          <img src="http://bitballoon.scdn4.secure.raxcdn.com/7d70466fc4909b2352e2457132232db2f9d63123/ca069/img/products/centurion/deal-1.png" alt="">
          <div class="caption">

              <h4>Individual Eyelash Extensions</h4>
              <h5><a href="https://www.facebook.com/The-Lash-Diva-222198757838760/?fref=ts">Lash Divas - Centurion</a></h5>
              <p>Getting individual eyelash extensions are when you attach a lash to each and every natural lash to extend the look of natural lashes to a longer fuller look.</p>
              <br>
              <br>
          </div>

          <div class="table-responsive">
              <table class="table">
                  <tbody>
                      <tr align="center">
                          <td><b><h3>R600</h3></b>YOU PAY</td>
                          <td><h3>R800</h3>RETAIL</td>
                          <td><h3>R200 (25%)</h3>YOU SAVE</td>
                      </tr>
                  </tbody>
              </table>
          </div>

          <div class="ratings">
              <p class="visible-xs" align="center">
                  <a href="https://pos.snapscan.io/qr/SSDeals?&amount=60000&id=Lash_Diva_Eyelash_Extension" target="_blank" class="btn btn-primary">Buy with SnapScan</b></a>
              </p>
          </div>
          <div>
              <img class="hidden-xs" src="http://bitballoon.scdn4.secure.raxcdn.com/38e3769c409d40b12ef505921463dbd8ea25d005/314a5/img/products/centurion/qr-1.png" alt="">
          </div>
      </div>
  </div>

  <!-- PRODUCT -->
  <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
          <img src="http://bitballoon.scdn4.secure.raxcdn.com/ac0482b5d18c4143fdbc817e2948eec31eece679/80f6d/img/products/centurion/deal-2.png" alt="">
          <div class="caption">

              <h4>Volume Lash Extensions</h4>
              <h5><a href="https://www.facebook.com/The-Lash-Diva-222198757838760/?fref=ts">Lash Divas - Centurion</a></h5>
              <p>Volume says it all. This will make your own lashes look fuller and are light weight, from a 2D to 7D in variety. This is an advanced technique to fan every lash to make your lashes appear fuller. A mastered skill that is taking the market by storm overseas.</p>
          </div>

          <div class="table-responsive">
              <table class="table">
                  <tbody>
                      <tr align="center">
                          <td><b><h3>R850</h3></b>YOU PAY</td>
                          <td><h3>R1200</h3>RETAIL</td>
                          <td><h3>R350 (30%)</h3>YOU SAVE</td>
                      </tr>
                  </tbody>
              </table>
          </div>

          <div class="ratings">
              <p class="visible-xs" align="center">
                  <a href="https://pos.snapscan.io/qr/SSDeals?&amount=85000&id=Lash_Diva_Volume_Extentions" target="_blank" class="btn btn-primary">Buy with SnapScan</b></a>
              </p>
          </div>
          <div>
              <img class="hidden-xs" src="http://bitballoon.scdn4.secure.raxcdn.com/a692a505ac08a52e35c00124ab3c58dc39c00e29/c4f26/img/products/centurion/qr-2.png" alt="">
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
