<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="row">
          <h2 align="center"><%= @location_name %></h2>
          <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-lg-4 col-md-4">
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://bitballoon.scdn4.secure.raxcdn.com/58b6524a1a331e3d75fb7ae3dfd75673e1bb9aab/d2580/img/products/johannesburg/deal-1.png" alt="">
                <div class="caption">

                    <h4>Hair Treatment</h4>
                    <h5><a href="https://www.facebook.com/xaviermobilestylist/">Xavier Mobile Stylist - Roodeport</a></h5>
                    <p>Brasil CACAU's exclusive formula combines rich natural raw material and incorporates the latest BRAZILIAN KERATIN technology. Brazil CACAU reinforces the internal structure, improves the condition of the hair smoothing the cuticle & eliminating frizz while providing external protection.</p>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr align="center">
                                <td><b><h3>R550</h3></b>YOU PAY</td>
                                <td><h3>R1000</h3>RETAIL</td>
                                <td><h3>R450 (45%)</h3>YOU SAVE</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ratings">
                    <p class="visible-xs" align="center">
                        <a href="https://pos.snapscan.io/qr/SSDeals?&amount=55000&id=Xavier_Mobile_Cacau_Brazilian" target="_blank" class="btn btn-primary">Buy with SnapScan</b></a>
                    </p>
                </div>
                <div>
                    <img class="hidden-xs" src="http://bitballoon.scdn4.secure.raxcdn.com/c9a08ec91f104d552052ffe55da29eaf495755f0/24fb6/img/products/johannesburg/qr-1.png" alt="">
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
