<div id="footerwrap">
 <div class="container">
   <div class="row" align="center">
     <div class="col-lg-12">
       <!-- <h4>Connect now</h4> -->
       <!-- <div class="hline-w"></div> -->
       <p align="center">
         <a href="https://twitter.com/snapscanapp" target="_blank" align="center"><i class="fa fa-twitter"></i></a>
         <a href="http://instagram.com/snapscanapp" target="_blank" align="center"><i class="fa fa-instagram"></i></a>
         <a href="mailto:bizdev@snapscan.co.za?Subject=via%20SnapScanDeals.com" target="_blank" align="center"><i class="fa fa-envelope"></i></a>
       </p>
     </div>
   </div>
 </div>
</div>
